{% extends 'base.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if finds %}
      {% for item in finds %}
          <p>
          {% for key, value in item.items %}
              {% if key == 'm' %}
                  File: {{ value }}
              {% else %}
                  Points: {{ value }}
              {% endif %}
          {% endfor %}
          </p>
      {% endfor %}
  {% else %}
     <p>Not found</p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}