{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div id="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile">
            <button type="submit">Upload</button>
        </form>
        <div id="result">
            {% if finds %}
                {% for item in finds %}
                    <p>
                        {% for key, value in item.items %}
                            {% if key == 'm' %}
                                File: <a href="{{ value }}">{{ value }}</a>
                            {% else %}
                                Points: {{ value }}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endfor %}
    {#        {% else %}#}
    {#            <p>Not found</p>#}
            {% endif %}
            {% if not_found %}
                <script>typeof endSearch == "function" && endSearch();</script>
                <p>Same image/s not found</p>
            {% endif %}
        </div>
{#        <p><a href="{% url 'home' %}">Return to home</a></p>#}
    </div>

    <script>
        var Spin = function(){
            this.open = function(){
                $('body').addClass('loading');
            }
            this.close = function(){
                $('body').removeClass('loading');
            }
        };
        var spin = new Spin();

        $('button').click(function () {
            spin.open();
        });

        function endSearch() {
            spin.close();
        }
    </script>
{% endblock %}
